.earth {
  position: relative;
  z-index: 999;
  width: 50%;
  height: 45vh;
  background-color: transparent;
}

@media screen and (min-width: 20rem) and (max-width: 64rem) {
  .earth {
    width: 100vw;
    height: 50vh;
  }
}

@media screen and (min-width: 160rem) and (max-width: 3888px) {
  .earth {
    width: 50vw;
    height: 50vh;
  }
}