.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, black, #140e18);
}

.project {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: url(../../images/nebula-cosmos-4k-tk.jpg);
}