/* Normalize */
@import url(./vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll {
  width: 3rem;
  filter: invert(80%);
  animation: floatAnimation 1s ease-in-out infinite;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.particles {
  position: relative;
  z-index: 0;
}

.text {
  font-family: monospace, roboto, Inter;
  color: #D3D3D3;
  font-size: 1.375rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cite {
  position: relative;
  font-size: .75rem;
  animation: pulsate 5s ease-in-out infinite;
}

.title {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 600;
}

.subtitle {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 400;
}

.wave {
  width: 2.2rem;
  filter: invert(20%);
}

.navbar {
  position: fixed;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  z-index: 9999;
  width: 100%;
  padding: 0;
}

.logo {
  transform: scale(0.8);
  filter: invert(100%);
  width: 7.8125rem;
  margin: 0;
  cursor: pointer;
}

.navbar__container {
  position: relative;
  min-width: 30rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


@keyframes pulsate {
  0% {
    color: #D3D3D3;
  }

  50% {
    color: #ffffff;
  }

  100% {
    color: #D3D3D3;
  }
}

.navbar__text {
  cursor: pointer;
  animation: pulsate 5s ease-in-out infinite;
}

.navbar__text:hover {
  transform: scale(1.1);
  color: white;
  animation: none;
}


.vertical-line {
  height: 1.75rem;
  width: .0625rem;
  background-color: rgba(211, 211, 211, 0.1);
}

.logo,
.navbar__text {
  transition: transform 0.3s ease, color 0.3s ease;
}

.header {
  position: relative;
  background: linear-gradient(to bottom, black, #140e18);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;
  scroll-snap-align: center;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cloud {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 999;
}

.cloud::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/PngItem_2727566.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.header__image {
  max-width: 35rem;
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}

.header__content {
  margin-top: 2%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__texts {
  max-width: 37.5rem;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.text-transition {
  opacity: 0;
  transition: opacity 2s ease;
}

.text-transition.loading {
  opacity: 0;
}

.text-transition.loaded {
  opacity: 1;

}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 1s ease-in forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about {
  position: relative;
  background: linear-gradient(to bottom, #140e18, black);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -1;
  scroll-snap-align: center;
}

.cloud-about {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.cloud-about::before {
  content: "";
  position: absolute;
  border: none;
  border-style: none;
  width: 100%;
  height: 100%;
  background-image: url(./images/PngItem-Espelhado-e-Virado_2727566.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__texts {
  max-width: 30%;
  row-gap: 1rem;
}

.about__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeInFromLeft 1s ease-in-out forwards;
  ;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about__image {
  max-width: 40%;
  display: flex;
  height: auto;
  object-fit: cover;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    filter: brightness(0.9);
  }

  50% {
    filter: brightness(0.6);
  }

  100% {
    filter: brightness(0.9);
  }
}

.about__text {
  font-size: 1rem;
  margin: 0;
  margin-top: 2rem;
  color: white;
}

.about__title {
  font-size: 5rem;
}

.about__cite {
  font-size: 1rem;
  color: white;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  border-radius: .625rem;
  list-style-type: none;
  gap: 1rem;
  margin: 2rem 0;
  padding: 0;
}

.about__icon {
  animation: iconScale 6s ease-in-out infinite;
  width: 2.5rem;
  height: auto;
}

@keyframes iconScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.education {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, black, #140e18);
  scroll-snap-align: center;
}

.education__fade {
  display: flex;
  height: 100%;
  width: 100%;
}

.education__fade::before {
  content: "";
  position: absolute;
  border: none;
  border-style: none;
  width: 100%;
  height: 100%;
  background-image: url(./images/education.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}

.education__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.education__container::before {
  content: "";
  position: absolute;
  border: none;
  border-style: none;
  width: 100%;
  height: 100%;
  background-image: url(./images/14214_space-png.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) brightness(0.6);
}

.education__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: 99;
}

.education__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.planet {
  width: 55%;
  height: 100%;
}